{% extends '@HrmCommon/base.html.twig' %}

{% trans_default_domain 'HrmIdentityBundle' %}

{% block title %}
    {{ 'REGISTRATION.TITLE.REGISTRATION'|trans }}
{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'form-signin'}}) }}
        <h1 class="h3 mb-3 font-weight-normal text-center">
            {{ 'REGISTRATION.TITLE.REGISTRATION'|trans }}
        </h1>
        {{ form_row(form.firstName) }}
        {{ form_row(form.lastName) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}
{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('pages/identity/index/index.css') }}" rel="stylesheet"/>
{% endblock %}